#postListPage
	.info
		background-color: #fff
		margin-bottom: 0.8rem
		.master
			border-bottom: 1px dashed #e9f2ef
			padding: 1rem
			img
				width: 7rem
				height: 7rem
				float: left
			div
				&:first-of-type
					margin-left: 7rem
					padding: 0.3rem 1rem
					span
						display: block
						&:first-of-type
							font-size: 1.6rem
							color: #000
					span
						&:last-of-type
							white-space: nowrap
							margin-top: 1.1rem
							overflow: hidden
							text-overflow: ellipsis
							color: #888889
							height: 3.7rem
							line-height: 2rem
		.topic
			font-size: 1.4rem
			color: #000
			padding: 1rem 1.4rem 1.4rem 1rem
			font-weight: bold
			word-bread: keep-all
			white-space: nowrap
			overflow: hidden
			text-overflow: ellipsis
			span
				&:first-of-type
					color: #20c983
					padding-right: 1rem
			a
				text-decoration: none
				color: #000